<div class="center_big">
	<h2>Show Author</h2>

	<h1>Meet <%= @author.name %></h1>
	<div class="circle">
	<img class="image-wrap" src="<%= @author.image_url %>" />
	</div>

	<ul>
	<% @author.books.each do |book| %>
		<li class="nav-item"><%= book.title %></li>
	<% end %>	
	</ul>
</div>
